/* -------------------------------------------------------------------- */
/* Contents */
/* -------------------------------------------------------------------- */
/*  1. Reset - Line 14 */
/*  2. Main  - Line 56 */
/*  3. Tier-1 Navigation - Line 71 */
/*  4. Tier-2 Navigation - Line 117 */
/* -------------------------------------------------------------------- */





/* -------------------------------------------------------------------- */
/* Reset */
/* -------------------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin:  0;
  border:  0;
  padding: 0;
  vertical-align: baseline;
  font-size: 100%;
  font: inherit;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

body {
  line-height: 1.15
}

ol, ul {
  list-style: none
}

blockquote, q {
  quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}





/* -------------------------------------------------------------------- */
/* Main */
/* -------------------------------------------------------------------- */

body {
  position: absolute;
  width:  100%;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}





/* -------------------------------------------------------------------- */
/* Tier-1 Navigation */
/* -------------------------------------------------------------------- */

body ol {
  position: absolute;
  width:  100%;
  height: 100%;
}
body ol li {
  position: relative;
  top: 75%;
  float: left;
  width: 33.33%;
  overflow: visible;
  text-align: center;
  transition: .25s; -webkit-transition: .25s;
}
body ol li:hover ol {
  display: block;
}
body ol li a {
  display: block;
  background: none;
  padding: 24px 0;
  line-height: 1;
  font-size: 40px;
  text-transform:  uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 4px;
  color: #CCCCCC;
  transition: .25s; -webkit-transition: .25s;
}
body ol li a:hover,
body ol li a:active {
  background: #CCCCCC;
  color: #333333;
}





/* -------------------------------------------------------------------- */
/* Tier-2 Navigation */
/* -------------------------------------------------------------------- */

body ol li ol {
  position: absolute;
  bottom: 100%;
  display: none;
  width:  100%;
  height: auto;
}
body ol li ol li {
  float: none;
  width: 100%;
  overflow: hidden;
  transition: .25s; -webkit-transition: .25s;
}
body ol li ol li.last {
  padding-bottom: 24px;
}
body ol li ol li a {
  border-top: 0;
  font-size: 24px;
}
body ol li ol li a:hover,
body ol li ol li a:active {
  margin:     0;
  border-top: 0;
  padding:    48px 0;
  font-size: 24px;
}
